<div class="container">
  <h1>Administracion de Articulos</h1>
  <!-- Agregar la clase .table de Bootstrap para darle estilo básico a la tabla -->
  <table class="table">
  <!-- Agregar la clase .table-striped para darle un efecto de cebra a las filas -->
  <tr class="table-striped">
  <td>Codigo</td>
  <td>Descripcion</td>
  <td>Precio</td>
  <td>Borrar</td>
  <td>Seleccionar</td>
  </tr>
  <!-- Agregar la clase .table-hover para activar el estado de hover en las filas -->
  <tr *ngFor="let art of articulos" class="table-hover">
  <td>{{art.codigo}}</td>
  <td>{{art.descripcion}}</td>
  <td>{{art.precio}}</td>
  <!-- Agregar la clase .btn de Bootstrap para darle estilo a los botones -->
  <td><button class="btn" (click)="borrar(art.codigo);">Borrar?</button></td>
  <td><button class="btn" (click)="seleccionar(art);">Seleccionar</button></td>
  </tr>
  </table>
  <ng-template #sinarticulos><p>No hay articulos.</p></ng-template>
  <div>
  <p>
  Codigo: <input type="number" [(ngModel)]="art.codigo"/>
  </p>
  <p>
  Descripcion: <input type="text" [(ngModel)]="art.descripcion"/>
  </p>
  <p>
  Precio: <input type="number" [(ngModel)]="art.precio"/>
  </p>
  <!-- Agregar la clase .btn-primary para darle un color azul a los botones -->
  <p><button class="btn btn-primary" (click)="agregar();">Agregar</button>
  <!-- Agregar la clase .btn-secondary para darle un color gris a los botones -->
  <button class="btn btn-secondary" (click)="modificar();">Modificar</button></p>
  </div>
 </div>
 